{% extends "registration/base.html" %}

{% load crispy_forms_tags %}

{% block title %}Reset your password{% endblock %}

{% block content %}
   <div class="container">
    <div class="row">
       <div class="container">
         <section class="col-xl-12 col-lg-12 col-md-12 mb-2 text-center">
                        {% if  messages %}
                                    {% for message in messages %}
                                     <div {% if message.tags %} class="{{ message.tags}} mssg-default"{% endif %}>
                                         {{ message }}
                                     </div>
                                    {% endfor %}
                        {% endif %}
           </section>
       </div>
    </div>
    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0 shadow">
            <!-- Nested Row within Card Body -->
            <div class="row">
              
              <div class="col-lg-12">
                <div class="p-5">

                  <div class="text-center">
                   <h1>Reset Your Password</h1>
                   {% if validlink %}
                   <p>Please enter your new password twice</p>
                  </div>
                  <!-- Form -->
                  <form method="POST">
                    {% csrf_token %}
                    {{ form | crispy }}
                  <input type="submit" value="Change Password" class="btn btn-primary btn-user btn-block">
                  </form>
                  {% else %}
                    <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
                  {% endif %}
                  <!-- /Form -->
                  <hr>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div><!-- /container -->
{% endblock %}