{% extends "registration/base.html" %}

{% load crispy_forms_tags %}

{% block title %}Reset your password{% endblock %}

{% block content %}
<!--   <h1>Forgotten your password?</h1>
  <p>Enter your e-mail address to obtain a new password.</p>
  <form method="POST">
    {{ form | crispy }}
    <p><input type="submit" value="Send e-mail"></p>
    {% csrf_token %}
  </form> -->
    <style type="text/css">
      
    .card{
      border-radius:2px !important;
      -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2) !important;
      box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2)!important;
      /*background-color: rgba(0,0,0,0.49) !important;*/
      /*color: #fff;*/
    }


    </style>
    
    <div class="container">
    <div class="row">
       <div class="container">
         <section class="col-xl-12 col-lg-12 col-md-12 mb-2 text-center">
                        {% if  messages %}
                                    {% for message in messages %}
                                     <div {% if message.tags %} class="{{ message.tags}} mssg-default"{% endif %}>
                                         {{ message }}
                                     </div>
                                    {% endfor %}
                        {% endif %}
           </section>
       </div>
    </div>
    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0 shadow">
            <!-- Nested Row within Card Body -->
            <div class="row">
              
              <div class="col-lg-12">
                <div class="p-5">

                  <div class="text-center">
                      <h1>Forgotten your password?</h1>
  					  <p>Enter your e-mail address to obtain a new password.</p>
                  </div>
                  <!-- Form -->
                  <form method="POST">
                    {% csrf_token %}
                    {{ form | crispy }}
                  <input type="submit" value="Send" class="btn btn-primary btn-user btn-block">
                  </form>
                  <!-- /Form -->
                  <hr>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>
{% endblock %}s